.popup__body {
  position: relative;
  width: 430px;
  margin: 0 54px;
}

@media screen and (max-width: 630px) {
  .popup__body {
    max-width: 380px;
  }
}

@media screen and (max-width: 450px) {
  .popup__body {
    margin: 0;
    max-width: 282px;
  }
}
